@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared styling */
.width {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
html {
  font-size: 16px;
}
/* Header color */
.head {
  background-color: #1a0b2e;
  background-image: url(./assets/hero-bg.png);
    background-position: 50% 58%;
}

/* Navbar h2 styling & animation*/
.navbar h2 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
}
.navbar > img {
  display: none;
}
.navbar h2 span {
  background: repeating-linear-gradient(to right, #9100f8, #fb09b4, #f7e93f);
  background-clip: text;
  color: transparent;
  animation: gradient 2s linear infinite;
  background-size: 200%;
}
@keyframes gradient {
  from {
    background-position: 0;
  }
  to {
    background-position: 200%;
  }
}

/* Navbar menu styling */
.navbar {
  justify-content: space-between;
  background-color: #1a0b2e;
  height: 92px;
  align-items: center;
}
.navbar ul {
  gap: 32px;
}
.navbar ul li {
  list-style-type: none;
}
.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.9;
}
.btn {
  padding: 12px 16px 12px 16px;
  color: #ffffff;
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
  border: none;
  font-weight: 600;
  border-radius: 100px;
  width: 120px;
}
/* Hero section styling */
.hero {
  position: relative;
  height: 900px;
}
.hero-photo .circle {
  position: absolute;
  top: 13%;
  left: 39%;
  width: 22%;
}
.hero-photo .mic {
  position: absolute;
  top: 22%;
  left: 46%;
  width: 8%;
}
.hero-photo .new {
  position: absolute;
  width: 7%;
  left: 53%;
  top: 12%;
}

.hero-text {
  position: absolute;
  top: 65%;
  left: 36.5%;
  color: #ffffff;
  text-align: center;
}
.hero-text h2 {
  font-size: 3.5rem;
  margin-bottom: 8px;
}
.hero-text p {
  font-size: 1rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 1);
  opacity: 0.8;
  margin-bottom: 24px;
}

.button-group {
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.hero-text .btn {
  width: 201px;
  font-weight: 600;
  height: 44px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.sub-btn {
  background-color: transparent;
  color: #00ff88;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  border: 2px solid #00ff88;
  border-radius: 100px;
  height: 44px;
  width: 147px;
}
@media screen and (max-width: 576px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  /* Head styling */
    .head {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 30% 37%;
   
  }

  /* Navbar styling */
  .navbar {
    justify-content: space-around;
  }
  .navbar ul {
    display: none;
  }
  .navbar > img {
    display: block;
    margin-left: 80px;
  }
  .btn {
    display: none;
  }

  /* Hero section */
  .hero {
    width: 55%;
    height: 480px;
    position: relative;
  }
  .hero-photo .circle {
    position: absolute;
    top: 5%;
    left: 45%;
    width: 90%;
  }

  .hero-photo .mic {
    position: absolute;
    top: 16%;
    left: 79%;
    width: 24%;
  }
  .hero-photo .new {
    position: absolute;
    width: 45%;
    left: 95%;
    top: 4%;
  }

  .hero-text{
    width: 340px;
    position: absolute;
    left: 5%;
    top: 260px;

  }
}
