@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared styling */
.width {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
html {
  font-size: 16px;
}
/* Header color */
.head {
  background-color: #1a0b2e;
  background-image: url(./assets/hero-bg.png);
  background-position: 50% 58%;
}

/* Navbar h2 styling & animation*/
.navbar h2 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
}
.navbar > img {
  display: none;
}
.navbar h2 span {
  background: repeating-linear-gradient(to right, #9100f8, #fb09b4, #f7e93f);
  background-clip: text;
  color: transparent;
  animation: gradient 2s linear infinite;
  background-size: 200%;
}
@keyframes gradient {
  from {
    background-position: 0;
  }
  to {
    background-position: 200%;
  }
}

/* Navbar menu styling */
.navbar {
  justify-content: space-between;
  background-color: #1a0b2e;
  height: 92px;
  align-items: center;
}
.navbar ul {
  gap: 32px;
}
.navbar ul li {
  list-style-type: none;
}
.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.9;
}
.btn {
  padding: 12px 16px 12px 16px;
  color: #ffffff;
  background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
  border: none;
  font-weight: 600;
  border-radius: 100px;
  width: 120px;
}
/* Hero section styling */
.hero {
  position: relative;
  height: 900px;
}
.hero-photo .circle {
  position: absolute;
  top: 13%;
  left: 39%;
  width: 22%;
}
.hero-photo .mic {
  position: absolute;
  top: 22%;
  left: 46%;
  width: 8%;
}
.hero-photo .new {
  position: absolute;
  width: 7%;
  left: 53%;
  top: 12%;
}

.hero-text {
  position: absolute;
  top: 65%;
  left: 36.5%;
  color: #ffffff;
  text-align: center;
}
.hero-text h2 {
  font-size: 3.5rem;
  margin-bottom: 8px;
}
.hero-text p {
  font-size: 1rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 1);
  opacity: 0.8;
  margin-bottom: 24px;
}

.button-group {
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.hero-text .btn {
  width: 201px;
  font-weight: 600;
  height: 44px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 8px;
}
.btn:hover {
  cursor: pointer;
  background: linear-gradient(to right, #f7b13fa9, #fb09b285, #9100f882);
}
.sub-btn {
  background-color: transparent;
  color: #00ff88;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  border: 2px solid #00ff88;
  border-radius: 100px;
  height: 44px;
  width: 147px;
}
.sub-btn:hover {
  background-color: green;
  cursor: pointer;
}

/* About section */
.about {
  background-color: #1a0b2e;
  height: 646px;
}
.about-text {
  text-align: center;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}
.about-text h2 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: bold;
  padding: 60px;
}
.about-text p {
  opacity: 80%;
  color: #ffffff;
  line-height: 28px;
  font-size: 1rem;
  margin-bottom: 25px;
  margin-top: 16px;
}
hr {
  width: 75%;
  margin: 60px auto;
  opacity: 10%;
}

.achievement {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 200px;
  justify-content: center;
  align-items: center;
}

.achievement-card h2 {
  color: #00ff88;
  font-size: 3rem;
  margin-bottom: 16px;
}
.achievement-card p {
  color: #ffffff;
  opacity: 80%;
}

/*Why choose section */
#choose {
  background-color: #230e3d;
  padding: 120px;
}
#choose h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 3rem;
  color: #ffffff;
  font-weight: bold;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
#first {
  grid-row: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  align-items: center;
}
#second,
#third {
  grid-column: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  align-items: center;
}
#fourth {
  grid-column: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  align-items: center;
}
#fifth {
  grid-row: span 1;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  align-items: center;
}
.grid-card {
  border-radius: 40px;
}

.grid-card h4 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 16px 0px;
}
.grid-card p {
  color: #ffffff;
  opacity: 60%;
  line-height: 24px;
}

/* Feature section */

#feature {
  background-color: #1a0b2e;
}
#feature h2 {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 120px;
  padding-bottom: 40px;
}
.yt-videos {
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;
  justify-content: center;
  gap: 30px;
  padding-bottom: 24px;
}
.video h4 {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 0 12px 0;
}
.video p {
  color: #ffffff;
  opacity: 60%;
  line-height: 24px;
  padding-bottom: 12px;
}
.video iframe {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.video .bg {
  background-color: #230e3d;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 24px;
}

/* Host section */
#host {
  background-color: #1a0b2e;
  padding-bottom: 120px;
}
#host > h2 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 80px 0 40px 0;
}
.host-content {
  display: flex;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 24px;
  background-color: #230e3d;
  border-radius: 40px;
}
.host-content > img {
  padding: 50px 0px 40px 40px;
}
.host-text {
  padding: 58px 40px 48px;
}
.host-text h3 {
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 16px;
}
.host-text p {
  opacity: 0.6;
  color: #ffffff;
  line-height: 24px;
  padding-bottom: 16px;
}
.host-text ul {
  list-style-type: none;
  gap: 8px;
}

/* Footer section styling */
#foot {
  background-image: url(./assets/footer-bg.png);
  background-position: 50%;
  height: 412px;
  text-align: center;
}
#foot h1 {
  color: #ffffff;
  font-size: 4rem;
  padding: 110px 0 32px 0;
}

#foot h1 span {
  background: repeating-linear-gradient(to right, #9100f8, #fb09b4, #f7e93f);
  background-clip: text;
  color: transparent;
  animation: gradient 2s linear infinite;
  background-size: 200%;
}
@keyframes gradient {
  from {
    background-position: 0;
  }
  to {
    background-position: 200%;
  }
}

#foot ul li {
  color: #ffffff;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  gap: 8px;
  opacity: 0.6;
}

#foot ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 50px;
  justify-content: center;
  align-items: center;
}

#foot p {
  color: #ffffff;
  opacity: 0.6;
  padding-top: 32px;
}

/* Responsive section */
@media screen and (max-width: 576px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  /* Head styling */
  .head {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 30% 37%;
  }

  /* Navbar styling */
  .navbar {
    justify-content: space-around;
  }
  .navbar ul {
    display: none;
  }
  .navbar > img {
    display: block;
    margin-left: 80px;
  }
  .btn {
    display: none;
  }

  /* Hero section */
  .hero {
    width: 55%;
    height: 480px;
    position: relative;
  }
  .hero-photo .circle {
    position: absolute;
    top: 5%;
    left: 45%;
    width: 90%;
  }

  .hero-photo .mic {
    position: absolute;
    top: 16%;
    left: 79%;
    width: 24%;
  }
  .hero-photo .new {
    position: absolute;
    width: 45%;
    left: 95%;
    top: 4%;
  }
  .hero-text h2 {
    font-size: 2.5rem;
  }
  .hero-text p {
    font-size: 0.8rem;
  }

  .hero-text {
    width: 340px;
    position: absolute;
    left: 5%;
    top: 260px;
  }

  /* About section */

  .about {
    min-height: 100vh;
    width: 100%;
  }
  .about h2 {
    font-size: 1.8rem;
    padding: 20px 0 20px 0;
  }
  .achievement {
    text-align: center;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 1fr);
    font-size: 0.8rem;
    gap: 20px;
  }

  /* Choose section */
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  #choose {
    padding: 24px;
  }
  #choose h2 {
    font-size: 1.6rem;
    margin: 0;
  }
  #first {
    height: 565px;
  }
  #choose h2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* Feature section */

  #feature h2 {
    font-size: 2rem;
  }
  .yt-videos {
    flex-direction: column;
  }

  iframe {
    width: 100%;
  }

  #host {
    width: 100%;
  }
  #host h2 {
    font-size: 2rem;
  }
  .host-content {
    flex-direction: column;
    width: 90%;
    text-align: center;
    align-items: center;
  }
  .host-content > img {
    padding: 0;
    padding-top: 24px;
  }
  .host-text {
    padding: 0 20px 0 20px;
  }
  .host-text ul {
    padding: 0 0 24px 45px;
  }

  /* Footer section */
  #foot {
    background-position: 90% 60%;
    background-size: 500%;
    background-repeat: no-repeat;
  }
  #foot h1 {
    font-size: 3rem;
  }
  #foot p {
    font-size: 0.8rem;
  }
  #foot ul {
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    font-size: 0.8rem;
  }
}
